/* FLIP CARD */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
img {
  width: 100%;
  height: 100%;
}
/* Style the back side */
.flip-card-back {
  background-color: rgba(30, 30, 30, 1);
  color: rgba(189, 253, 109, 1);
  transform: rotateY(180deg);
  font-family: "Poppins";
}

/* /FLIP CARd */

@media only screen and (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(82, 7vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(30, 30, 30, 1);
  }

  .navb {
    grid-area: 1 / 1 / 2 / 21;
    background-color: rgba(30, 30, 30, 1);
  }

  .text {
    grid-area: 8 / 3 / 8 / 9;
    color: rgba(189, 253, 109, 1);
    font-family: "Poppins";
    font-size: 3vw;
    text-align: center;
  }
  .div2 {
    grid-area: 10 / 3 / 19 / 9;
    background-color: rgba(30, 30, 30, 1);
  }
  .div2-text {
    grid-area: 19 / 3 / 19 / 9;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div3 {
    grid-area: 21 / 3 / 32 / 9;
    background-color: rgba(30, 30, 30, 1);
  }
  .div3-text {
    grid-area: 32 / 3 / 32 / 9;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div4 {
    grid-area: 34/3/45/9;
    background-color: rgba(30, 30, 30, 1);
  }
  .div4-text {
    grid-area: 45 / 3 / 45 / 9;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }

  .div5 {
    grid-area: 47 / 3 / 58 / 9;
    background-color: rgba(30, 30, 30, 1);
  }
  .div5-text {
    grid-area: 58 / 3 / 58 / 9;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div6 {
    grid-area: 60 / 3 / 71 / 9;
    background-color: rgba(30, 30, 30, 1);
  }
  .div6-text {
    grid-area: 71 / 3 / 71 / 9;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div7 {
    grid-area: 73/3/84/9;
    background-color: rgba(30, 30, 30, 1);
  }
  .div7-text {
    grid-area: 84 / 3 / 84 / 9;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
}

@media (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(30, 7vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(30, 30, 30, 1);
  }
  .text {
    grid-area: 5 / 8 / 5 / 14;
    color: rgba(189, 253, 109, 1);
    font-family: "Poppins";
    font-size: 2vw;
  }
  .navb {
    grid-area: 1 / 1 / 2 / 21;
    background-color: rgba(30, 30, 30, 1);
  }
  .div2 {
    grid-area: 8 / 3 / 17 / 7;
    background-color: rgba(30, 30, 30, 1);
  }
  .div2-text {
    grid-area: 17 / 3 / 17 / 7;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div3 {
    grid-area: 8 / 9 / 17 / 13;
    background-color: rgba(30, 30, 30, 1);
  }
  .div3-text {
    grid-area: 17 / 9 / 17 / 13;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div4 {
    grid-area: 8/15/17/19;
    background-color: rgba(30, 30, 30, 1);
  }
  .div4-text {
    grid-area: 17 / 15 / 17 / 19;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div5 {
    grid-area: 20 / 3 / 30 / 7;
    background-color: rgba(30, 30, 30, 1);
  }
  .div5-text {
    grid-area: 30/ 3 / 30 / 7;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div6 {
    grid-area: 20 / 9 / 30 / 13;
    background-color: rgba(30, 30, 30, 1);
  }
  .div6-text {
    grid-area: 30 / 9 / 30 / 13;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
  .div7 {
    grid-area: 20/15/30/19;
    background-color: rgba(30, 30, 30, 1);
  }
  .div7-text {
    grid-area: 30 / 15 / 30 / 19;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-size: large;
  }
}
